{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'mb/head.html' %}

<body>
<div class="container-fluid position-relative bg-white d-flex p-0">

    <!-- 侧边栏 -->
    {% include 'mb/menus.html' %}



    <div class="content">
        <!-- 导航栏 -->
        {% include 'mb/nav.html' %}


        <!-- 内容 -->
        <iframe src="https://zyzdsj.vercel.app/" style="height: 100%;width: 100%"></iframe>
        <!-- Footer End -->




    </div>
</div>

{% include 'mb/commjs.html' %}

</body>
</html>