{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static '/img/001.ico' %}" type="image/x-icon">
    <script src="{% static '/js/index.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    <title>首页</title>

</head>

<body>
    <!-- 导航栏 -->
    <div id="Navigation_bar">
        <div class="Navigation_bar_dv1">
            <ul>
                <li>
                    <img class="logo" src="{% static '/img/育苗朝阳.png' %}" alt="">
                </li>
                <li>
                    <a href="/jobs/index/" style="color:#2A9EEB;">首页</a>
                </li>
            </ul>

            <ul>
                <li class="Login_and_registration"><a href="/jobs/login/" style="color: white;">登录/注册</a></li>
            </ul>
        </div>
    </div>

    <!-- 网页banner -->
    <div id="banner">
        <img src="{% static '/img/zb.jpg' %}">
    </div>
    <!-- 重点推荐 -->
    <div id="Key_recommendation">
        <div class="Key" onclick="window.location.href='/jobs/login/'">
            <ul>
                <li><b>学习视频</b>
                    <p>学习幼儿知识</p>
                </li>
                <li>更多了解<span> --</span></li>
            </ul>
            <img src="{% static '/img/育苗朝阳.png' %}">
        </div>
        <div class="Key" onclick="window.location.href='/jobs/login/'">
            <ul>
                <li><b>查看活动</b>
                    <p>帮助幼儿活动</p>
                </li>
                <li>更多了解<span> --</span></li>
            </ul>
            <img src="{% static '/img/育苗朝阳.png' %}">
        </div>
        <div class="Key" onclick="window.location.href='/jobs/login/'">
            <ul>
                <li><b>提问功能</b>
                    <p>有关幼儿问答</p>
                </li>
                <li>视频了解<span> --</span></li>
            </ul>
            <img src="{% static '/img/育苗朝阳.png' %}">
        </div>
    </div>

    <!-- 介绍视频 -->
    <div id="Introductory_video">
        <div class="video_h1">
            <h1>青年助幼志愿服务的新公益平台</h1>
        </div>
        <div class="video_div">
            <video controls autoplay src="{% static '/video/pv1.mp4' %}"></video>
        </div>
    </div>

    <!-- 文本介绍 -->
    <div id="Text_introduction">
        <div class="Text_introduction_01">
            <p>
                育苗朝阳是由长沙幼儿师范高等专科学校教师和学生组建的一行队伍，
                搭建青年助幼志愿服务的新公益平台，
                突破传统的支公血限单点、个案式的服务模式，开创了一套新的全流程、全链条、全生态的社区志愿服务的工作方法，
                通过完善的孵化体系、教学体系、课程体系和管理体系，为高校青年志愿者赋能，将青年志愿服务力量引入志愿服务需求旺盛的社区、农村，服务最需要的婴幼儿。
            </p>
            <p>
                主要开展的活动内容包括:卫生保健知识、常见伤害预防与急救、生活照
                护、早期发展支持、亲子关系、疾病防控、营养与喂养、心理健
                康、小儿推拿等。
            </p>
        </div>
        <div class="Text_introduction_02">
            <div class="Text_02_img">
                <img src="{% static '/img/育苗朝阳.png' %}">
            </div>
        </div>
    </div>
    <!-- 其他介绍 -->

    <div id="Other_introduction">
        <div class="Other_introduction_div1">
            <img src="">
        </div>

        <div class="Other_introduction_div2">
            <div class="introduction_div2_z1">
                <img src="">
            </div>
            <div class="introduction_div2_z2">
                <div>
                    <img src="">
                </div>
                <div>
                    <img src="">
                </div>
            </div>
        </div>
    </div>


    <!-- 结尾 -->
    <div id="ending">
        <!-- 备案号 -->
        <div id="ICP">
            <p>湘ICP备2023011167号-1</p>
        </div>
    </div>
</body>

</html>