{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页面</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="{% static '/plugins/jquery-3.6.4.min.js' %}"></script>
    <style>
        .login-container {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="login-container">
            <h1 class="h3 mb-3 fw-normal">请登录</h1>
            <div class="form-floating">
                <input type="text" class="form-control" id="phone" placeholder="用户名">
                <label for="username">手机号</label>
            </div>
            <div class="form-floating mt-2">
                <input type="password" class="form-control" id="password" placeholder="密码">
                <label for="password">密码</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary mt-3" id="login-btn">登录</button>
            <a href="/jobs/register/">注册</a>
            <p class="mt-3 text-danger" id="error-message" style="display: none;">用户名或密码错误</p>
        </div>
    </div>

    <script>
        $("#login-btn").on("click", function() {
            // 获取输入的用户名和密码
            const phone = $("#phone").val();
            const password = $("#password").val();

            $.ajax({
                url: "/jobs/login/",
                type: "POST",
                data: {
                    phone: phone,
                    password: password
                },
                success: function(data) {
                    console.log(data);
                    if (data.code === 0) {
                        // 登录成功，跳转到首页
                        window.location.href = "/jobs/indexss/";
                    } else {
                        // 如果用户名和密码验证失败，显示错误信息
                        $("#error-message").show();

                    }
                }
            });


            // 如果用户名和密码验证失败，显示错误信息
            {#$("#error-message").show();#}
        });
    </script>
</body>
</html>
