{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'mb/head.html' %}

<body>
<div class="container-fluid position-relative bg-white d-flex p-0">

    <!-- 侧边栏 -->
    {% include 'mb/menus.html' %}


    <div class="content">
        <!-- 导航栏 -->
        {% include 'mb/nav.html' %}


        <!-- 内容 -->
        <div class="container mt-3">
            <h2>活动列表</h2>
            <div class="mb-3">
                <input type="text" class="form-control" id="search-input" placeholder="搜索">
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">视频名称</th>
                    <th scope="col">简介</th>
                    <th scope="col">积分</th>
                    <th scope="col">创建时间</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
            </table>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                    <li class="page-item"><a class="page-link" href="#">8</a></li>
                    <li class="page-item"><a class="page-link" href="#">9</a></li>
                    <li class="page-item"><a class="page-link" href="#">10</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>


    </div>
</div>

{% include 'mb/commjs.html' %}
<script>
    $(document).ready(function () {
        var Page = 1;
        let userList = $('#user-list');
        const perPage = 10;
        // 默认加载第一页
        loadUsers();

        function loadUsers(query = '') {
            $.ajax({
                url: '/jobs/video/page/',
                data: {page: Page, per_page: perPage, query: query},
                dataType: 'json',  // 返回的数据类型
                success: function (response) {

                    console.log(response);
                    response.data.forEach(function (obj) {

                    });
                }
            });
        }

        // 搜索
        let searchTimeout; // 用于存储 setTimeout 的 ID
        const searchInput = $('#search-input');
        searchInput.on('input', function () {
            const query = $(this).val().trim();

            clearTimeout(searchTimeout); // 清除上一个 setTimeout
            searchTimeout = setTimeout(function () { // 设置新的 setTimeout
                $('#user-list').empty(); // 清空用户列表
                Page = 1; // 重置页数
                loadUsers(query); // 重新加载用户列表
            }, 500); // 设置间隔为 500 毫秒
        });
    });
</script>
</body>
</html>
