{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <script src="{% static '/plugins/jquery-3.6.4.min.js' %}"></script>
</head>
<body>
    <input type="text" id="search" placeholder="Search users...">
    <div id="user-list" style="height: 200px; overflow-y: scroll;"></div>
    <div id="bottom"></div>

    <script src="{% static '/js/test.js' %}"></script>
</body>
</html>
